// Основные цвета
$primary-color: #22313f;
$secondary-color: #34495e;
$accent-color: #e4f1fe;
$second-accent-color: #8dc6ff;

$background-color: #171717;
$text-color: #E5E5E5;

// Фильтр для свг-шек
$svg-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(43deg) brightness(104%) contrast(105%);